<!--<div class="container"> -->
	
	
	<div class="container">
		<div class="col-md-10">
			<img src="/assets/image/burguesa.png"  id= "pic" alt="da burger">
			</div>
			</div>
		
<!--- title -->
			<div class= "container">
			<div class="col-sm-8">
			<h1> Eat-Da-Burger! </h1>
			</div>
			</div>
<!--- title -->
		
		
		<div class="col-md-6 text-center">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input type="hidden" class="burger_id" type="text" value={{this.id}}>
						<button type="submit"  id="eatit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
					<div class="col-md-9 text-center">
						<pre>{{this.id}}. {{this.burger_name}}
						</pre>
							<!-- {{this.Date}} -->
					</div>
					<div class="col-md-3 text-center">
						<form class="devour-form button-size">
							<input type="hidden" class="burger_id" type="text" value={{this.id}}>
							<button type="submit"  id="eatit" class="btn btn-default">Devour it!</button>
						</form>
					</div>
				{{/if}}
			  {{/each}}
		</div>
	<!---</div> -from columns -->
<!--</div>  -->

<div class="container">
	<div class="row">
		<div class="col-md-6 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<br>
			<p> Click the "Submit" to add your favorite 🍔 .</p>
		</div>
	</div>
</div>


<script>

$('#eatit').click(funciton() {

 alert("hello");
});
</script>